db/ch/data/**/*
db/pg/**/*
db/redis/**/*
db/old_redis/**/*
db/prometheus/**/*
db/nginx/**/*
old_web/**/*
src/gmx*/**/*
src/chrome_data/**/*
src/True/**/*
overrides/db_hub/**/*
**/*.pyc
**/.lh/**/*
**/*.DS_Store
.env
src/node_modules/**/*
src/config.json
src/bot/main

src/error_logs/**/*
src/chrome_data/**/*
src/node_modules/**/*
src/user_data/**/*
__debug_bin*
**/*.json*
**/*.log*
**/*.csv*
**/*.txt*
